/* Soluzione qui */



/* RESPONSIVE TABLET*/
@media screen and (min-width: 768px) {

    #topbar {
        display: block;
    }

    main {
        padding: 50px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-title {
        font-size: 1.5rem;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .blender {
        width: calc(100% / 3);
    }

    .clock {
        width: calc(100% / 3);
    }

    .cost {
        width: calc(100% / 3);
    }

    .pie {
        width: calc(100% / 3);
    }

    .utensils {
        width: calc(100% / 3);
    }

    .pin {
        width: calc(100% / 3);
    }

    .social-networks button {
        padding-left: 50px;
        padding-right: 50px;
    }

    .ads {
        display: block;
    }

    .presentation img {
        float: left;
        margin-right: 42px;
    }
}


/* RESPONSIVE DESKTOP*/
@media screen and (min-width: 992px) {

    .recipe-title {
        font-size: 2rem;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-info {
        width: 30%;
    }

    .recipe-video {
        width: 70%;
        height: 44vh;
    }

    .quick-notes ul {
        display: block;
    }

    .blender {
        width: auto;
    }

    .clock {
        width: auto;
    }

    .cost {
        width: auto;
    }

    .pie {
        width: auto;
    }

    .utensils {
        width: auto;
    }

    .pin {
        width: auto;
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    address {
        text-align: left;
    }

}